<table class="table">
    <tr>
        <th>IP</th>
        <th>Source IP</th>
        <th>Domain</th>
        <th>Date</th>
    </tr>

    {% for address in addresses %}

        <tr>
            <td>{{ address.ip }}</td>
            <td>{{ address.sourceIp }}</td>
            <td>{{ address.domain.name }}</td>
            <td>{{ address.openDate|date('d.m.Y G:i:s') }}</td>
        </tr>

    {% endfor %}
</table>