{% extends 'itawEmailBundle::layout.html.twig' %}

{% block css %}
{% endblock %}

{% block content %}

    <h1>
        Accessor Management
        <small>Deleted</small>
    </h1>

    <p>
        Your Accessor <strong>{{ accessor.username }}</strong> was deleted.
    </p>

{% endblock %}